main {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
	// padding: 0 20px;
}

.sudoku-board {
	width: 20rem;
	height: 20rem;
	// border: 3px solid black;
	// gap: 1px;
	background: black;
	tbody {
		gap: 1px;
	}
}

td table {
	width: 100%;
	height: 100%;
	text-align: center;
	// background: white;
}

.box {
	height: 33.333%;
	width: 33.333%;
	tr {
		height: 33.333%;
		width: 33.333%;
		td {
			// background: white;
			// border: 1px solid black;
			width: 33.333%;
			font-size: inherit;
		}
	}
}

.editable {
	background: white;
	caret-color: transparent;
	font-size: inherit;
}

.not-editable {
	background: lightgray;
}

.correct {
	background: lightgreen;
}

.incorrect {
	background: lightcoral;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="number"] {
	width: 100%;
	height: 100%;
	border: none;
	box-sizing: border-box;
	font-size: inherit;
	text-align: center;
}
